body {
    text-align: center;
   }
   
   #layers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .layer {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
   }